/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/* Base Styles */
*{
    font-family: "Space Mono", monospace;
    color: #FFFFFF;

}


/* Navbar */

nav{
    background-color: #0068FF;
}

.navbar{
    
    display: flex;
    padding-top: 10px;
    
}

.logo{
    margin-left: 50px;
    margin-top: 29px;
    width: 164px;
    height: 162px;
    /*background-color: red;*/
    background-image: url(./assets/egg.svg);
    background-size: cover;


}

.links{
    padding: 30px 10px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
    margin-left: 900px;
    margin-top: 50px;
    
    
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    color: #FFFFFF;
    
}

.navbar a:hover{
    color: #B01B1B;
}